body {
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1128px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --main-title-color: #fff;
  --seconbari-text-color: #2e2f42;
  --root-color: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ---------------Header---------------- */

.header {
  display: flex;

  align-items: center;
  justify-content: center;
}
.header-container {
  justify-content: space-between;
  display: flex;
  padding: 24px;
}
.header-navigation {
  display: flex;
}
.header-inform {
}
.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 24px;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--seconbari-text-color);
}

.header-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  margin-left: 76px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: var(--seconbari-text-color);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: var(--seconbari-text-color);
}
.header-address {
}
.header-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  color: #434455;
}
.header-mailto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.header-mailto:hover,
.header-mailto:focus {
  color: #404bbf;
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}

/* ---------------Hero---------------- */
.hero {
  background-color: var(--seconbari-text-color);
  display: flex;
  min-height: 600px;
  align-items: center;
}

.hero-container {
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 20;
  text-align: center;
  letter-spacing: 0.02em;
  margin: auto;
  width: 496px;
  color: var(--main-title-color);
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 16px 32px;
  margin-top: 48px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---------------Description---------------- */

.description-svg {
  padding: 24px 100px;
  background-color: #f4f4fd;
  border-radius: 4px;
}

.text-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.description-list {
  display: flex;
  margin: auto 0;
  gap: 24px;
}
.description-item {
  max-width: 264px;
}
.description-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 20;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--seconbari-text-color);
}
.description-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------Team---------------- */

.team {
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.team-link:hover {
  background-color: #404bbf;
}
.team-svg {
  padding: 12px 12px;
  width: 16px;
  height: 16px;
  fill: #fff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  color: var(--seconbari-text-color);
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-list-svg {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}

.team-item-svg {
}

.team-working {
  background-color: #f4f4fd;
}

.team-item {
}
.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 240px;
  color: var(--seconbari-text-color);
}
.team-content {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
  padding-bottom: 32px;
}
.team-items {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 20;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  color: var(--seconbari-text-color);
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #434455;
}

/* ---------------Customers---------------- */

.customers {
  margin-bottom: 120px;
}
.customers-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.customers-svg {
  padding: 16px 32px;
  border-radius: 4%;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
}
.customers-svg:hover {
  fill: #404bbf;
  border-color: #404bbf;
}

.customers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

/* ---------------Fotter---------------- */

.footer {
  background-color: var(--seconbari-text-color);
  display: flex;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 120px;
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo > span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
  color: #e7e9fc;
}
.footer-svg-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-list-svg {
  gap: 16px;
  display: flex;
}
.footer-svg-link {
  width: 208px;
  height: 80px;
}
.footer-content {
  width: 264px;
  height: 110px;
  margin-left: 156px;
}

.footer-item-svg {
}
.footer-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 10%);
  width: 40;
}

.footer-link:hover {
  background-color: #31d0aa;
}

.footer-svg {
  padding: 12px 12px;
  width: 16px;
  height: 16px;
  fill: #fff;
}

/* ---------------PORTFOLIO---------------- */

.caption {
}
.caption-header {
}
.caption-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}
.caption-item {
}
.caption-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.caption-btn:hover,
.caption-btn:focus {
  color: #ffffff;
  background-color: var(--root-color);
}

.picture {
  padding-bottom: 120px;
}
.picture-list {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.picture-item {
  flex-wrap: nowrap;
  background-color: #ffffff;
}
.picture-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 20;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--seconbari-text-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.picture-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #434455;
  margin-bottom: 32px;
}
