body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
:root {
  --main-title-color: #fff;
  --seconbari-text-color: #2e2f42;
  --root-color: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------Header---------------- */

.header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  /* justify-content: space-between; */
  display: flex;
  align-items: center;
  /* padding: 24px; */
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: 316px;
}

.header-link-logo {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  margin-right: 74px;
  color: #4d5ae5;
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.header-link-span {
  /* font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase; */
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
  color: #2e2f42;
}

.header-item-link {
  color: #434455;
}

.header-link.active {
  color: #404bbf;
}

.header-link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -24px;
  left: 0;
}

.header-item {
  transition-property: color;
  transition-duration: 0.35s;
  position: relative;
}

.header-address {
  margin-right: auto;
}
.header-info {
  align-items: center;
  display: flex;
  gap: 40px;
}
.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

/* ---------------Hero---------------- */
.hero {
  background-color: var(--seconbari-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/img/header-bgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 600px;
  align-items: center;
}

.hero-container {
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin: auto;
  width: 496px;
  color: var(--main-title-color);
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 16px 32px;
  margin-top: 48px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

/* ---------------Description---------------- */

.description-svg {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #f4f4fd;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
}

.text-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.description-list {
  display: flex;
  margin: auto 0;
  gap: 24px;
}
.description-item {
  max-width: 264px;
}
.description-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--seconbari-text-color);
}
.description-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------Team---------------- */

.team {
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.team-link:focus,
.team-link:hover {
  background-color: #404bbf;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.team-svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  color: var(--seconbari-text-color);
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-list-svg {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}

.team-item-svg {
}

.team-working {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 110px;
  margin-top: 120px;
}

.team-item {
}
.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--seconbari-text-color);
}
.team-content {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.team-items {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  color: var(--seconbari-text-color);
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #434455;
}

/* ---------------Customers---------------- */

.customers {
  padding-bottom: 120px;
  padding-top: 130px;
}
.customers-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.customers-svg {
  padding: 16px 32px;
  border-radius: 4%;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
  width: 100%;
  height: 88px;
}
.customers-svg:hover {
  fill: #404bbf;
  border-color: #404bbf;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.customers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

/* ---------------Fotter---------------- */

.footer {
  background-color: var(--seconbari-text-color);
  display: flex;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo > span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
  color: #e7e9fc;
}
.footer-svg-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-list-svg {
  gap: 16px;
  display: flex;
}
.footer-svg-link {
  width: 208px;
  height: 80px;
  margin-right: 80px;
}
.footer-content {
  width: 264px;
  height: 110px;
  margin-right: 120px;
}

.footer-item-svg {
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 10%);
  width: 40px;
  height: 40px;
}

.footer-link:focus,
.footer-link:hover {
  background-color: #31d0aa;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.footer-svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.footer-input {
  width: 264px;
  height: 40px;
  margin-right: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--seconbari-text-color);
  overflow: auto;
  outline: transparent;
  padding: 8px 16px;
  color: #ffffff;
}
.footer-input-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 16px;
}
.footer-input-container {
}

.footer-btn {
  width: auto;
  height: 40px;
  padding: 8px 24px;
  margin-top: 40px;
  background: #4d5ae5;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  border: 1px solid #4d5ae5;
  background-color: var(--root-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.footer-btn-svg {
  fill: #ffffff;
  
  width: 24px;
  height: 20px;
  top: 0;
  left: 0;

}

.fotter-form {
  display: flex;
}

/* ---------------PORTFOLIO---------------- */

.caption {
}
.caption-header {
}
.caption-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}
.caption-item {
}
.caption-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  
}
.caption-btn:hover,
.caption-btn:focus {
  color: #ffffff;
  background-color: var(--root-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.picture {
  padding-bottom: 120px;
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.picture-item {
  flex-wrap: nowrap;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  width: 360px;
}
.picture-item:hover {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.picture-text-animation {
  position: relative;
  overflow: hidden;
}

.picture-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  background-color: rgba(77, 90, 229, 70%);
  position: absolute;
  padding: 40px 32px 164px 32px;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.picture-item:hover .picture-text {
  transform: translateY(0);
}

.picture-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--seconbari-text-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.picture-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #434455;
  margin-bottom: 32px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.25s linear, visibility 0.25s linear;
}
.modal {
  min-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.modal-link {
}

.modal-btn-close {
  padding: 8px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  margin-left: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus,
.modal-btn-close:hover {
  background-color: #404bbf;
  fill: #e7e9fc;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.modal-svg {
  width: 8px;
  height: 8px;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
}
.form {
}

.form-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 38px;
  margin-bottom: 8px;
  overflow: auto;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .input-svg {
  fill: #4d5ae5;
}

.input-container {
  position: relative;
}

input {
}

.input-svg {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 22px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.texttarea-container {
}
.form-label {
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 11px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  overflow: auto;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
}
.checkbox {
  visibility: hidden;
}
.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: relative;
}
.Privacy-Policy {
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.checkbox-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.checkbox-svg {
  width: 10px;
  height: 8px;
  position: absolute;
  left: 3px;
  fill: #fcfcfc;
}

.checkbox:checked + .checkbox-text::before {
  background-color: #404bbf;
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.modal-btn {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  margin-top: 24px;
  margin-left: 120px;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid #4d5ae5;
  background-color: var(--root-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
